:root {
    --background: rgba(224, 223, 223, 0.41);
    --hoverButton: rgba(196, 196, 196, 0.41);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

button {
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--background);
    -webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.controls {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.controls__button {
    background-color: #fff;
    border: none;
    transition: 0.2s;
}

.controls__button:hover {
    background-color: var(--hoverButton);
}

.controls__button:first-child {
    border-radius: 10px 0 0 10px;
}

.controls__button:last-child {
    border-radius: 0 10px 10px 0;
}
